a {
    color: lightblue;
}
a:hover {
    color: white;
}
.sli {
    list-style: none;
    display: inline-block;
}
body{
    background-color: rgb(26, 26, 26);
    color: white;
    font-family: Bahnschrift, sans-serif;
    overflow-y: hidden;
    font-size: 16px;
}
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 600,
        'GRAD' 0,
        'opsz' 20
}
button {
    background-color: white;
    border: grey 2px solid;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    transition-duration: 0.1s;
}
button:hover {
    background-color: rgb(165, 165, 165);
}

.close {
    border-radius: 100%;
    border: none;
    background: red;
    color: white;
    text-align: center;
    padding: 0;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    position: relative;
    left: calc(100% - 20px);
}

.close:hover {
    background-color: darkred;
}

select {
    width: 100%;
    border: none;
    border-radius: 100px;
    background: white;
    padding: 5px;
}

.overlay-object {
    border-left: 0px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    z-index: 999;
    background: black;
}