a {
    color: lightblue;
}
a:hover {
    color: white;
}
.sli {
    list-style: none;
    display: inline-block;
}

.sli button {
    font-size: 28px;
    padding: 2px 10px 2px 10px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: grey 0px solid;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 20
}

.sli button:hover {
    background-color: rgb(150, 150, 150);
}

body{
    background-color: rgb(26, 26, 26);
    color: white;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    overflow-y: hidden;
}
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 600,
        'GRAD' 0,
        'opsz' 20
}

button {
    background-color: white;
    color: black;
    border: grey 2px solid;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    transition-duration: 0.1s;
}
button:hover {
    background-color: rgb(220, 220, 220);
}

.mbtn {
    background-color: white;
    border: grey 1px solid;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    font-weight: bold;
    border-radius: 7px;
}

.close {
    border-radius: 100%;
    border: none;
    background: red;
    color: white;
    text-align: center;
    padding: 0;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    position: relative;
    left: calc(100% - 20px);
}

.settinggrp {
    border-radius: 100%;
    border: none;
    background: rgb(51, 51, 51);
    color: white;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 7px;
}

.settinggrp:hover {
    background-color: rgb(95, 95, 95);
}

.close:hover {
    background-color: darkred;
}

select {
    width: 100%;
    border: none;
    border-radius: 100px;
    background: white;
    padding: 5px;
}

.overlay-object {
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    animation: fadeInUp 0.4s forwards;
    border-left: 0px;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    z-index: 500;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.fade-out {
    animation: fadeOutDown 0.4s forwards;
}

@keyframes fadeInUp {
    0% {
        transform: translateY(20px);
        opacity: 0;
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
    }
}

@keyframes fadeOutDown {
    0% {
        transform: translateY(0);
        opacity: 1;
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
    }
    100% {
        transform: translateY(20px);
        opacity: 0;
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
    }
}


.TOREPolygon {
    animation: torEpulse 2s infinite;
    animation-timing-function: step-start;
}

@keyframes torEpulse {
    0% { fill: magenta; }
    50% { fill: purple; }
}

.TORPDSPolygon {
    animation: torpdspulse 2s infinite;
    animation-timing-function: step-start;
}

@keyframes torpdspulse {
    0% { fill: red; }
    50% { fill: magenta; }
}

.SVRPDSPolygon {
    animation: svrpdspulse 2s infinite;
    animation-timing-function: step-start;
}

@keyframes svrpdspulse {
    0% { fill: yellow; }
    50% { fill: red; }
}

.waitingForRefresh {
    animation: pulsered 2s infinite;
}

@keyframes pulsered {
    0% { color: white; }
    50% { color: red; }
}

.alertpopup .leaflet-popup-content-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    color: #eee;
    font-size: medium;
    font-family: "Outfit", sans-serif;
    line-height: 24px;
    border-radius: 10px;
    max-width: 350px;
    max-height: 375px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}

.alertpopup_dark .leaflet-popup-content-wrapper {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    color: #eee;
    font-size: medium;
    font-family: "Outfit", sans-serif;
    line-height: 24px;
    border-radius: 10px;
    max-width: 350px;
    max-height: 375px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}

.alertpopup .leaflet-popup-tip {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.alertpopup_dark .leaflet-popup-tip {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.tor-marker {
    background-color: red;
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

.hail-marker {
    background-color: green;
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

.wind-marker {
    background-color: blue;
    border-radius: 100%;
    width: 100px;
    height: 100px;
}


.leaflet-container {
    background-color: rgb(26, 26, 26);
}

.alertgraphic {
    display: block;
    max-width: -webkit-fill-available;
    max-height: 400px;
    width: auto;
    height: auto;
  }

.risk-level {
    padding: 2px 5px;
    border-radius: 5px;
    font-weight: bold;
}

iframe {
    border-radius: 5px;
    margin: 10px;
    width: 100%;
    height: calc(100% - 20px);
}

#player {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 200px;
    height: 200px;
    opacity: 0;
    animation: fadeInUp 0.3s forwards;
    border-radius: 10px;
    padding: 5px;
    z-index: 500;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

#handle {
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 8px;
    background-color: darkgray;
    cursor: nesw-resize;
    border-radius: 2px;
}

.noselect {
    cursor: grab;
}

.hidden {
  display: none !important;
}

#contextMenu {
  position: absolute;
  opacity: 0;
  animation: fadeInUp 0.3s forwards;
  border-left: 0px;
  border-radius: 10px;
  padding: 10px;
  z-index: 501;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  flex-direction: column;
  display: flex;
}

#hoverButton:hover + #contextMenu,
#contextMenu:hover {
  display: flex;
}

input, select{
  accent-color: #4c4cf0;
}

select {
    background: white;
    padding: 0px;
    width: 100%;
    cursor: pointer;
    position: relative;
    display: inline-block;
    border: 8px solid white;
    font-family: 'Outfit';
}

#mobilealertbox {
    animation: comein 0.2s fadeIn;
}

@keyframes comein {
    0% { opacity: 0; display: none; }
    100% { opacity: 1; display: flex; }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.rotating {
      animation: rotate 5s linear infinite;
      width: 30px;
      height: 30px;
      margin: 5px;
}