* {
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    opacity: 1;
}

* a {
    color: #27beffff;
}

* a:hover {
    color: #2a7fffff;
}

body {
    height: 100%;
    width: 100%;
}

#map {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}
  
.hidden {
    opacity: 0 !important;
    transform: translateY(20px) !important;
}
  
.overlay-object {
    opacity: 0;
    transition: opacity 0.5s !important;
    border-radius: 20px;
    position: absolute;
    z-index: 3;
    box-shadow: #0000008c 3px 3px 9px 0px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    backdrop-filter: blur(15px);
    transition-duration: 0.5s;
    -webkit-backdrop-filter: blur(15px);
    display: none;
}

.overlay-object-dark {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.show {
    display: flex !important;
    opacity: 1 !important;
    scale: 100% !important;
    transform: translateX(0px) !important;
}

#menu {
    transition: opacity 0.5s !important;
    z-index: 11;
    opacity: 0;
    position: absolute;
    padding: 10px;
    flex-direction: column;
    left: 10px;
    top: 10px;
    width: calc(100% - 40px);
    max-width: 300px;
    height: calc(100% - 40px);
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.8);
}

#menu-blur {
    transition: opacity 0.5s !important;
    z-index: 10;
    opacity: 0;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.nav-btn {
    background: black;
    padding: 10px;
    border: none;
    top: 10px;
    left: 10px;
    width: 40px !important;
    height: 40px !important;
    width: fit-content;
    height: fit-content;
    color: white;
    transition: background 0.2s !important;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
}

.nav-btn:hover {
    background: #27beffff !important;
    color: white !important;
}

.set-btn {
    color: black;
    padding: 10px;
    border: none;
    top: 10px;
    left: 10px;
    width: fit-content;
    height: fit-content;
    transition-duration: 0.2s;
    margin-bottom: 10px;
    width: 100%;
}

.set-btn:hover {
    background: #2a7fffff !important;
    color: white !important;
}

button {
    cursor: pointer;
}

.popup .leaflet-popup-content-wrapper {
    transition-duration: 0.5s;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    color: #fff;
    font-size: medium;
    font-family: "Cabin", sans-serif;
    border-radius: 20px;
    overflow-y: hidden;
    overflow-x: hidden;
    scrollbar-width: none;
    max-height: 500px;
    width: 350px;
    max-height: 400px !important;
}

.popup .leaflet-popup-tip {
    backdrop-filter: blur(15px) !important;
    -webkit-backdrop-filter: blur(15px) !important;
}

.leaflet-popup-content p {
    margin: 0px;
}

.leaflet-popup-content {
    padding: 5px;
    width: unset !important;
    margin: 5px;
}

b {
    font-weight: bolder;
}

.marker {
    width: 20px;
    height: 20px;
    background-size: cover;
    border: 1px solid black;
    border-radius: 50%;
    transition-duration: 0.2s;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
}

.radio-marker {
    width: 12px;
    height: 12px;
    background-size: cover;
    border: 1px solid black;
    border-radius: 50%;
    transition-duration: 0.2s;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
}

.tdwr {
    border-radius: 0px;
}

.marker:hover{
    background: #27beffff !important;
}

.radio-marker:hover{
    background: #27beffff !important;
}

.radio-normal {
    background: #2a7fffff;
}

.radio-degraded {
    background: #ffcc00ff;
}

.radio-offline {
    background: #ff2121ff;
}


.menuitem {
    margin: 10px;
    padding: 10px;
    padding-left: 15px;
    border-radius: 20px;
    background: #2a7fffff;
    color: white;
    display: flex;
    cursor: pointer;
    font-size: medium;
    transition-duration: 0.2s;
}

.menuitemunavailable {
    background: #89999f;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    color: white;
    display: flex;
    cursor: pointer;
    font-size: medium;
    transition-duration: 0.2s;
}

.menuitemunavailable:hover {
    background: #89999f;
    color: white;
}

.menuitemunavailable i {
    font-size: 20px;
    margin-right: 10px;
}

.menuitem:hover {
    background: #27beffff;
    color: black;
}

.menuitem i {
    font-size: 20px;
    margin-right: 10px;
}

input, select{
  accent-color: #27beffff;
}

select {
    background: white;
    padding: 0px;
    width: 100%;
    cursor: pointer;
    position: relative;
    display: inline-block;
    border: 8px solid white;
    border-radius: 5px;
    transition-duration: 0.2s;
}

#textbox:focus {
    outline: none;
}

input::placeholder {
    color: lightgray;
    opacity: 0.5;
}
input::-webkit-input-placeholder {
    color: lightgray;
}

input:focus::placeholder {
    color: darkgray !important;
}
input:focus::-webkit-input-placeholder {
    color: darkgray !important;
}

.searchbuttons {
    transition-duration: 0.2s;
    background: none;
    color: white;
    border: none;
}

.searchbuttons:hover {
    color: #27beffff !important;
    background: none;
}

.resultitem {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.resultitem:hover {
    background: rgba(255, 255, 255, 0.4) !important;
}

#results {
    display: none;
}

.noselect {
    cursor: grab;
}

.function-btn {
    background: #27beffff;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 20px;
    transition-duration: 0.2s;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
}

.function-btn:hover {
    background: #2a7fffff !important;
    color: white !important;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 2px;
}

.city-name {
  background: transparent;
  color: black;
  font-weight: bold;
}

.setticon {
    transition-duration: 0.5s;
    background: #27beffff;
    border-radius: 100%;
    padding: 8px;
    color: black !important;
    margin-right: 5px;
}

.credit {
    color: #27beffff;
    transition-duration: 0.2s;
}

.credit:hover {
    color: #2a7fffff;
}

/* Checkboxes */
.checkbox-container {
      display: flex;
      position: relative;
      cursor: pointer;
      font-size: 18px;
      user-select: none;
      align-items: center;
    }

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #eee;
  border-radius: 100%;
  position: relative;
  transition: all 0.2s;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #747474;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #00af00ff;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.TORPDSPolygon {
    animation: torpdspulse 2s infinite;
    animation-timing-function: step-start;
}

.SVRPDSPolygon {
    animation: svrpdspulse 2s infinite;
    animation-timing-function: step-start;
}

.TOREPolygon {
    animation: torepulse 2s infinite;
    animation-timing-function: step-start;
}

.FFEPolygon {
    animation: ffepulse 2s infinite;
    animation-timing-function: step-start;
}

.leaflet-control-attribution {
    display: none;
}

.lightningicon {
    opacity: 0.5;
}

.risk-level {
    padding: 2px 5px;
    border-radius: 5px;
    font-weight: bold;
}


/* Loading CSS - from loading.io */
.lds-ripple-mini,
.lds-ripple-mini div {
  box-sizing: border-box;
}
.lds-ripple-mini {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
}
.lds-ripple-mini div {
  position: absolute;
  border: 2px solid currentColor;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple-mini 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple-mini div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple-mini {
  0% {
    top: 9px;
    left: 9px;
    width: 2px;
    height: 2px;
    opacity: 0;
  }
  4.9% {
    top: 9px;
    left: 9px;
    width: 2px;
    height: 2px;
    opacity: 0;
  }
  5% {
    top: 9px;
    left: 9px;
    width: 2px;
    height: 2px;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    opacity: 0;
  }
}

.lds-ripple,
.lds-ripple div {
  box-sizing: border-box;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid currentColor;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}

.toolbtn {
    background: white;
    border-radius: 20px;
    border: 0px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected_toolbtn {
    background: #2a7fffff !important;
    color: white !important;
}

.toolbtn:hover {
    background: #27beffff !important;
    color: black !important;
}

em {
    font-style: italic;
    color: rgb(200, 200, 200);
    cursor: pointer;
}

#outbox {
    position: relative;
}

@keyframes locationpulse {
    0% { transform: scale(1.2); }
    50% { transform: scale(1.8); }
    100% { transform: scale(1.2); }
}

.currentlocation_marker {
    width: 20px;
    height: 20px;
    background: radial-gradient(#999999ff, #ffffff3d);
    background-size: cover;
    opacity: 1;
    border-radius: 50%;
    animation: locationpulse 2.5s infinite cubic-bezier(0.29, 0.12, 0.58, 1);
}

.innermarker {
    width: 14px;
    height: 14px;
    background: #27beffff;
    background-size: cover;
    border-radius: 50%;
    animation: none;
}

#black-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leaflet-fade-anim .leaflet-popup {
    opacity: 0;
    backdrop-filter: blur(15px);
    -webkit-transition: opacity backdrop-filter 0.2s linear;
    -moz-transition: opacity backdrop-filter 0.2s linear;
    transition: opacity backdrop-filter 0.2s linear;
}

.presetitem {
    display: flex;
    margin-bottom: 5px;
    width: 100%;
    cursor: pointer;
    border-radius: 20px;
    background-color: #ffffff2f;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

}

.presetitem h2 {
    font-size: large;
    font-weight: bold;
    margin: 0px;
    margin-right: 5px;
    margin-left: 10px;
}

.presetitem button {
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin: 10px;
    color: white;
    background: none;
}

.presetitem button:hover {
    background-color: #ffffff40;
}

.presetitem:hover {
    background-color: #ffffff40;
}

select:focus {
    outline: none;
    border: none;
    box-shadow: none;
  }

#prod::after{
    border: none;
}

#ctx-menu {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1000;
    display: none;
    list-style: none;
    padding: 0;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 5px 5px 20px 0px #000000ab;
    width: 200px;
}

#ctx-menu li {
    padding: 2px;
    cursor: pointer;
    margin: 2px;
    border-radius: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
}

#ctx-menu i {
    margin: 2px 10px 2px 2px;
    background-color: #27beffff;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#ctx-menu li:hover {
    background-color: #ddd;
}

@keyframes pulse {
    0% {
        stroke: black;
    }
    50% {
        stroke: white;
    }
    100% {
        stroke: black;
    }
}

.newpoly {
    animation: pulse 2s infinite;
}
